<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MageFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <MageFileProcessor.Properties.Settings>
      <setting name="DMSServer" serializeAs="String">
        <value>prismdb2</value>
      </setting>
      <setting name="DMSDatabase" serializeAs="String">
        <value>dms</value>
      </setting>
      </setting>
    </MageFileProcessor.Properties.Settings>
  </applicationSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <!-- Alternatively, use value="PerMonitorV2" -->
    <add key="DpiAwareness" value="False" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
